.root {
    -fx-font-family: "Arial";
    -fx-padding: 30px;
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
}

.text-field {
    -fx-font-size: 14px;
}